# Removal Step

In [ ]:
import pandas as pd

leases_df = pd.read_csv("../data/Leases.csv")

# Drop na rows for company name
# leases_df = pd.DataFrame(leases_df, columns=["company_name"]).dropna()

# Omit rows with na company_name
# leases_df = leases_df[leases_df["company_name"].notna()]

# Remove columns with all na entries
remove_features = [
    "direct_availability_proportion",
    "direct_internal_class_rent",
    "direct_overall_rent",
    "sublet_available_space",
    "sublet_availability_proportion",
    "sublet_internal_class_rent",
    "sublet_overall_rent",
    "company_name",
]
for feature in remove_features:
    leases_df = leases_df[leases_df[feature].notna()]


leases_by_rba = leases_df["RBA"]
leases_by_rba.head()

leases_by_rba.to_csv("../data/leases_by_rba.csv")

# Drop RBA and space_type
leases_df = leases_df.drop(columns=[
    "RBA", "space_type", "leasing", "monthsigned", "building_name", "building_id", "address", "region", "city"
], axis=1)

,year,quarter,market,state,zip,internal_submarket,internal_class,leasedSF,company_name,internal_industry,...,internal_class_rent,overall_rent,direct_available_space,direct_availability_proportion,direct_internal_class_rent,direct_overall_rent,sublet_available_space,sublet_availability_proportion,sublet_internal_class_rent,sublet_overall_rent
7555,2019,Q1,Atlanta,GA,30361.0,Midtown,A,4004.0,In-Light Wealth Management,NaN,...,30.044474,26.6522,18625950.0,0.1095,30.433347,26.925077,2490048.0,0.0146,24.534387,22.546657
7557,2019,Q1,Atlanta,GA,30303.0,Downtown,A,2810.0,Sheib & Associates,Legal Services,...,30.044474,26.6522,18625950.0,0.1095,30.433347,26.925077,2490048.0,0.0146,24.534387,22.546657
7559,2019,Q1,Atlanta,GA,30310.0,Northwest,O,6800.0,T2s Enterprises,"Business, Professional, and Consulting Service...",...,20.385196,26.6522,11135117.0,0.0655,20.481839,26.925077,950881.0,0.0056,19.013882,22.546657
7563,2019,Q1,Atlanta,GA,30339.0,Northwest,A,12072.0,Sterling Seacrest,NaN,...,30.044474,26.6522,18625950.0,0.1095,30.433347,26.925077,2490048.0,0.0146,24.534387,22.546657
7573,2019,Q1,Atlanta,GA,30361.0,Midtown,A,2905.0,INVISORS,NaN,...,30.044474,26.6522,18625950.0,0.1095,30.433347,26.925077,2490048.0,0.0146,24.534387,22.546657
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194680,2024,Q4,Tampa,FL,33607.0,Westshore,A,19654.0,WGI,"Construction, Engineering and Architecture",...,32.980000,29.4600,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899
194681,2024,Q4,Tampa,FL,33607.0,Westshore,A,16224.0,Energy Insurance Mutual,NaN,...,32.980000,29.4600,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899
194682,2024,Q4,Tampa,FL,33602.0,Tampa CBD,O,8475.0,The Florida Bar,Legal Services,...,25.600000,29.4600,3967413.0,0.0731,25.777557,29.801662,924341.0,0.0170,22.768426,24.797899
194683,2024,Q4,Tampa,FL,33602.0,Tampa CBD,A,2014.0,Four River Law Firm,Legal Services,...,32.980000,29.4600,4227315.0,0.0779,33.566518,29.801662,1545553.0,0.0285,26.162086,24.797899
194684,2024,Q4,Tampa,FL,33607.0,Westshore,O,18745.0,Computer Generated Solutions,"Technology, Advertising, Media, and Information",...,25.600000,29.4600,3967413.0,0.0731,25.777557,29.801662,924341.0,0.0170,22.768426,24.797899

# Imputation Step
Impute numerical values in dataset with median
https://scikit-learn.org/stable/modules/impute.html
https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

In [12]:
# Categorical/String
# company_name	internal_industry internal_market_cluster

# Numerical
# RBA	available_space	availability_proportion	internal_class_rent	overall_rent

# Export Cleaned Data

In [13]:
leases_df.to_csv("../data/cleaned_leases.csv", index=False)